<!DOCTYPE HTML>
{% load staticfiles %}
{% load i18n %}
{% load articletags %}

<html lang="pl">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{% block title %}{% endblock %}</title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chome=1" />
	<meta property="og:image" content="" />
	<link rel='shortcut icon' href='' />


	<!-- include bootstrap-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
		integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
		integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous">
	</script>


	<!-- my own css -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type='text/css' />
	<link rel="stylesheet" href="{% static 'css/css/fontello.css' %}" type='text/css' />
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

</head>

<body>

	<div class="container-fluid">
		<div class="row">
			<div class="header col-12">
				<div class="row">
					<section class="media mt-2 ml-5 col-3">
						<ul class="media">
							<li class="email"><a href="{% url 'blog_message' %}"><i class="icon-mail"></i></a></li>
							<li class="fb"><i class="icon-facebook"></i></li>
							<li class="yt"><i class="icon-youtube"></i></li>
							<li class="li"><a href="https://www.linkedin.com/in/krzysztof-iciek-9a518762/"><i
										class="icon-linkedin-squared"></i></a></li>
							<li class="tr"><a href="http://twitter.com/Vermityn"><i class="icon-twitter"></i></a></li>
							<li class="gh"><a href="https://github.com/krzysztofic"><i
										class="icon-github-circled-alt2"></i></a></li>
						</ul>
					</section>

					<section class="logo col-6">
						<h3><a href="/">DEV NOTE</a></h3>
						<h6>...czyli notatki przyszłego programisty</h6>
					</section>

					<section class="szukaj mt-3 col-2">
						<form action="http://www.google.pl/search" method="get">
							<input type="text" placeholder="Szukaj notki..." onfocus="this.placeholder=' ' "
								onblur="this.placeholder='Szukaj notki...' " name="q" />
							<input type="hidden" name="ie" value="iso-8859-2" />
						</form>
					</section>

				</div>
			</div>
		</div>

		<div class="row mt-3 ml-5">
			<div class="sidebar-articles col-3">
				<section class="top-articles mt-2">
					{% block sidebar-posts %}
					{% include "strona/related_posts.html" %}
					{% endblock %}
				</section>

				<section class="archive-articles mt-4">
					{% block sidebar-archive %}
					<h4>{% trans "Archiwum" %}</h4>
					<ul>
						{% get_archive_dates as dates %}
						{% for date in dates %}
						<li><a
								href="{% url 'month_archive' year=date.year month=date.month %}">{{ date|date:"F Y" }}</a>
						</li>
						{% endfor %}
					</ul>
					{% 	endblock %}
				</section>
			</div>

			<div class="main ml-5 col-8">
				{% block content %}
				{% endblock %}
			</div>
		</div>

		<div class="row">
			<div class="footer col-12 mt-3">
				<section class="copyr mx-auto">
					NEW DEV BLOG copyright 2018
				</section>
			</div>
		</div>

	</div>

</body>

</html>