<!DOCTYPE HTML>
{% load staticfiles %}
{% load i18n %}
{% load articletags %}

<html lang="pl">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{% block title %}{% endblock %}</title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chome=1" />
	<meta property="og:image" content="" />
	<link rel='shortcut icon' href='' />


	<!-- include bootstrap-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
	</script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
	</script>


	<!-- my own css -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type='text/css' />
	<link rel="stylesheet" href="{% static 'css/css/fontello.css' %}" type='text/css' />
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

</head>

<body>

	<div class="container-fluid">
		<div class="row">
			<nav class="navbar navbar-expand-md col-12">
				<div class="row ml-5">

					<button class="navbar-toggler navbar-light order-first" type="button" data-toggle="collapse"
						data-target="#mainmenu">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="mainmenu">
						<section class="media">
							<ul class="navbar-nav mr-auto">
								<li class="nav-item email"><a class="nav-link" href="{% url 'blog_message' %}"><i
											class="icon-mail"></i></a></li>
								<li class="nav-item fb"><a class="nav-link" href="#"><i class="icon-facebook"></i></a>
								</li>
								<li class="nav-item yt"><a class="nav-link" href="#"><i class="icon-youtube"></i></a>
								</li>
								<li class="nav-item li"><a class="nav-link"
										href="https://www.linkedin.com/in/krzysztof-iciek-9a518762/"><i
											class="icon-linkedin-squared"></i></a></li>
								<li class="nav-item tr"><a class="nav-link" href="http://twitter.com/Vermityn"><i
											class="icon-twitter"></i></a></li>
								<li class="nav-item gh"><a class="nav-link" href="https://github.com/krzysztofic"><i
											class="icon-github-circled-alt2"></i></a></li>
							</ul>
						</section>

						<section class="navbar-brand ml-5">
							<h3><a href="/">DEV NOTE</a></h3>
							<h6 class="d-none d-md-inline">...czyli notatki przyszłego programisty</h6>
						</section>

						<form class="form-inline ml-5" action="http://www.google.pl/search" method="get">
							<input class="form-control" type="search" placeholder="Szukaj notki..."
								onfocus="this.placeholder=' ' " onblur="this.placeholder='Szukaj notki...' " name="q" />
							<input type="hidden" name="ie" value="iso-8859-2" />
						</form>


					</div>
				</div>
			</nav>
		</div>

		<div class="row mt-3 ml-5">
			<div class="sidebar-articles col-3 d-none d-md-inline">
				<section class="top-articles mt-2">
					{% block sidebar-posts %}
					{% include "strona/related_posts.html" %}
					{% endblock %}
				</section>

				<section class="archive-articles mt-4">
					{% block sidebar-archive %}
					<h4>{% trans "Archiwum" %}</h4>
					<ul>
						{% get_archive_dates as dates %}
						{% for date in dates %}
						<li><a
								href="{% url 'month_archive' year=date.year month=date.month %}">{{ date|date:"F Y" }}</a>
						</li>
						{% endfor %}
					</ul>
					{% 	endblock %}
				</section>
			</div>

			<div class="main ml-5 col-8">
				{% block content %}
				{% endblock %}
			</div>
		</div>

		<div class="row">
			<div class="footer col-12 mt-3">
				<section class="copyr mx-auto">
					NEW DEV BLOG copyright 2018
				</section>
			</div>
		</div>

	</div>

	<script id="dsq-count-scr" src="//newdev-1.disqus.com/count.js" async></script>
</body>

</html>