{% extends 'strona/base.html' %}
{% load staticfiles %}


{% block title %}New Dev Blog{% endblock %}

{% block content %}
	{% for post in posts %}

	<div class = "main_content col-12">
		<h4>{{ post.title }}</h4>
		<p>Napisałem: {{ post.created_date }}</p>
		<p>{{ category.name }}</p>
		<p><b> {{ post.lead }}</b></p>
		<p> <a href="{{ post.get_absolute_url }}">Czytaj Dalej...</a></p>
	</div>
	{% endfor %}

			<div class="pagination col-12">
	        <span class="step-links">
	            {% if posts.has_previous %}
	                <a href="?page={{ posts.previous_page_number }}">previous</a>
	            {% endif %}

	            <span class="current">
	                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
	            </span>

	            {% if posts.has_next %}
	                <a href="?page={{ posts.next_page_number }}">next</a>
	            {% endif %}
	        </span>
	    </div>

{% endblock %}
