body
{
	/* Background pattern from subtlepatterns.com */
	background-image: url("img/tlo.png");
	margin: 0px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 13px;
}

.container
{
	width: 100%;
	height: 100%;
}

.header
{
	height: 60px;
	background-color: #F5F5F5;
	border: 1px solid #F1F1F1;
	box-shadow: 2px 2px 2px #182019;
}

.sidebar-articles
{
	height: 550px;
	background-color: #F6F6F6;
	display: inline-block;
	text-align: center;
	border: 1px solid #F1F1F1;
	overflow: auto;
	box-shadow: 2px 2px 2px #182019;
	font-family: 'deathnote';
}

.main
{
	height: 550px;
	background-color: #F6F6F6;
	display: inline-block;
	border: 1px solid #F1F1F1;
	overflow: auto;
	box-shadow: 2px 2px 2px #182019;
}

.main_content
{
	background-color: #F6F6F6;
	margin-top: 10px;
	overflow: auto;
	border: none;
	text-align: justify;
}

/*
.szukaj
{
	height: 60px;
	float: left;
	margin-left: 30px;
}

input[type=text]
{
	margin-top: 10px;
	margin-left: 20px;
}

.audio
{
	margin-top: 15px;
}
*/

@font-face
{
	font-family: 'deathnote';
	src: url('/static/css/font/DEATH_FONT.TTF');
}

.logo
{
	height: 60px;
	display: inline-block;
	text-align: center;
	letter-spacing: 7px;
	font-family: 'deathnote';
}

.media
{
	height: 60px;
	float: left;
}

ul
{
	list-style-type: none;
}

.icon-mail
{
	cursor: pointer;
	font-size: 30px;
	color: #000;
}

.icon-mail:hover
{
	color: #808080;
}

.fb
{
	color: #4888b3;
	cursor: pointer;
	font-size: 30px;
}

.fb:hover
{
	color: #396c8f;
}

.icon-twitter
{
	color:  #3095d3;
	cursor: pointer;
	font-size: 30px;
}

.icon-twitter:hover
{
	color: #2677a8;
}

.yt
{
	color: #d94348;
	cursor: pointer;
	font-size: 30px;
}

.yt:hover
{
	color: #ad3539;
}

.li
{
	color: #4888b3;
	cursor: pointer;
	font-size: 30px;
}

.li:hover
{
	color: #396c8f;
}

.icon-github-circled-alt2
{
	color: #000;
	cursor: pointer;
	font-size: 30px;
}

.icon-github-circled-alt2:hover
{
	color: #808080;
}

.footer
{
	/* Background pattern from subtlepatterns.com */
	background-image: url("img/black.png");
	color: white;
	height: 150px;
	border-top: 1px solid #F1F1F1;
	border-bottom: 1px solid #F1F1F1;
}

.links
{
	height: 150px;
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
}
