body {
	/* Background pattern from subtlepatterns.com */
	background-image: url("img/wood.png");
	margin: 0px;
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	overflow: hidden;
}

@font-face {
	font-family: 'deathnote';
	src: url('/static/css/font/DEATH_FONT.TTF');
}

.container {
	width: 100%;
	height: 100%;
	position: relative;
}

.header {
	height: 60px;
	/* Background pattern from subtlepatterns.com */
	background-image: url("img/linedpaper.png");
	border: 1px solid #F1F1F1;
	box-shadow: 2px 2px 2px #182019;
}

.sidebar-articles {
	height: 550px;
	/* Background pattern from subtlepatterns.com */
	background-image: url("img/linedpaper.png");
	display: inline-block;
	text-align: center;
	border: 1px solid #F1F1F1;
	overflow: auto;
	box-shadow: 2px 2px 2px #182019;
}

.main {
	height: 550px;
	/* Background pattern from subtlepatterns.com */
	background-image: url("img/linedpaper.png");
	display: inline-block;
	border: 1px solid #F1F1F1;
	overflow: auto;
	box-shadow: 2px 2px 2px #182019;
}

.main_content {
	/* background-color: #F8F8F8; */
	margin-top: 10px;
	overflow: auto;
	border: none;
	text-align: justify;
}

ul,
a {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.link-next {
	text-align: right;
}

.error-404 {
	text-align: center;
}

.szukaj {
	height: 60px;
	float: left;
}

.logo {
	height: 60px;
	display: inline-block;
	text-align: center;
	letter-spacing: 7px;
	font-family: 'deathnote';
}

.icon-mail {
	cursor: pointer;
	font-size: 30px;
	color: #000;
}

.icon-mail:hover {
	color: #808080;
}

.fb {
	color: #4888b3;
	cursor: pointer;
	font-size: 30px;
}

.fb:hover {
	color: #396c8f;
}

.icon-twitter {
	color: #3095d3;
	cursor: pointer;
	font-size: 30px;
}

.icon-twitter:hover {
	color: #2677a8;
}

.yt {
	color: #d94348;
	cursor: pointer;
	font-size: 30px;
}

.yt:hover {
	color: #ad3539;
}

.icon-linkedin-squared {
	color: #4888b3;
	cursor: pointer;
	font-size: 30px;
}

.icon-linkedin-squared:hover {
	color: #396c8f;
}

.icon-github-circled-alt2 {
	color: #000;
	cursor: pointer;
	font-size: 30px;
}

.icon-github-circled-alt2:hover {
	color: #808080;
}

.footer {
	/* Background pattern from subtlepatterns.com */
	background-image: url("img/black.png");
	padding: 20px 20px;
	color: white;
	border-top: 1px solid #F1F1F1;
	border-bottom: 1px solid #F1F1F1;
	position: absolute;
	bottom: 0;
}

.copyr {
	text-align: right;
}