
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-youtube:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-instagram:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-folder-open-empty:before { content: '\e805'; } /* '' */
.icon-calendar:before { content: '\e806'; } /* '' */